*{
    box-sizing: border-box;
    overflow-x: hidden;
}
#header .header
{
    position: absolute;
    top: 70px;
    left: 70px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#navbar .form-control{
    line-height: 0 !important;
    transition: none !important;
}
#about .container-fluid {
    display: flex;
    height: 100vh;
  }
  
  #about .left-image, .right-image {
    flex: 1;
    background-size: cover;
    background-position: center;
  }
  
  #about .left-image {
    background-image: url('../Images/1.jpg');
    clip-path: polygon(0 0, 100% 0, 95% 50%,95% 100%,0% 100%);
    flex-grow: 2;
  }
  
  #about .right-image {
    background-image: url('../Images/2.png');
    clip-path: polygon(1% 50%,11% 0%, 100% 0, 100% 100%, 0% 100%);
  }
  #about #aboutus p
  {
     font-size: 1.5rem !important;
  }
@media (max-width: 770px)
{
    #header .header
{
    left: 30px !important;
}
#header #millionheading {
    font-size: 2.0rem !important;
}
#header .carousel-control-prev{
    left: -40px !important;
}
#header .carousel-control-next{
    right: -40px !important;
}
#about #aboutus .display-1
 {
    font-size: 3rem !important;
 }
 #about #aboutrow{
    height: max-content !important;
 }
 #about #aboutus p
 {
    font-size: 1.2rem !important;
 }
 #login .leftborder{
  height:auto !important;
 }
}
@media (max-width: 450px)
{
    #header .header
{
    left: 0px !important;
}
    #header #millionheading {
        font-size: 1.8rem !important;
    }
    #header  .fs-4{
        font-size: large !important;
    }
    #header .carousel-control-prev{
        left: -10px !important;
    }
    #header .carousel-control-next{
        right: -10px !important;
    }
    #header #card .card{
        width: 100% !important;
    }
    #header #card .card img{
        width: 100% !important;
    }
    #header .banner{
        width: 100% !important;
    }
    #about #aboutus .display-1
 {
    font-size: 1.5rem !important;
 }
 #about #aboutus p
 {
    font-size: 1rem !important;
 }
 #login .leftborder{
    border-top-left-radius: 0px !important;
    height: 100vh !important;
 }
 #product .mango
 {
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 50px !important;
 }
 #product #card .card{
    width: 100% !important;
}
#product #card .card img{
    width: 100% !important;
}
}
@media (max-width: 380px)
{
    #header #millionheading {
        font-size: 1.5rem !important;
    }
    #about #aboutus p
    {
       font-size: 0.9rem !important;
    }
}
@media (max-width: 320px)
{
    #header #millionheading {
        font-size: 1.2rem !important;
    }
}